*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bacgroundColor: rgb(30, 90, 30);
    --elementsColor: rgb(37, 33, 33);
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background-color: var(--bacgroundColor);
    color: #ffffff;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.go-back {
    position: fixed;
    top: 16px;
    left: 16px;
    /* z-index: 100; */
}

.go-back > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    color: white;
    font-size: 24px;
    transform: translateX(0);
    transition: transform 250ms;
}

.go-back > a:hover {
    transform: translateX(-10);
}

.go-back > a > span {
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--elementsColor);
    border: 2px solid white;
    border-radius: 50%;
    background-image: url('../img/icon-back.svg');
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}

/* .go-back > a > span::before {
    content: '';
    position: absolute;
    top: 14.5px;
    left: 10px;
    display: block;
    height: 2px;
    width: 15px;
    background-color: white;
    transform: rotate(-45deg);
}

.go-back > a > span::after {
    content: '';
    position: absolute;
    bottom: 14.5px;
    left: 10px;
    display: block;
    height: 2px;
    width: 15px;
    background-color: white;
    transform: rotate(45deg);
} */

.container__box {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 50px;
    margin-bottom: 30px;
}

#container__datetime-picker {
    font-size: 24px;
    background-color: var(--elementsColor);
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    text-align: center;
}

button {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--elementsColor);
    border: 2px solid white;
    color: white;
    border-radius: 10px;
}

button:disabled,
#container__datetime-picker:disabled {
    background-color: rgb(177, 172, 172);
    cursor: no-drop;
}

.timer {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.timer__card {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 80px;
}

.top,
.bottom,
.timer__card .top-flip,
.timer__card .bottom-flip {
    height: 60px;
    line-height: 0.93;
    padding: 20px;
    overflow: hidden;
}

.top,
.timer__card .top-flip {
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    background-color: var(--elementsColor);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom,
.timer__card .bottom-flip {
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    background-color: var(--elementsColor);
    display: flex;
    align-items: flex-end;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.timer__card .top-flip {
    position: absolute;
    width: 100%;
    animation: flip-top 250ms ease-in;
    transform-origin: bottom;
}

@keyframes flip-top {
    100% {
        transform: rotateX(90deg);
    }
}

.timer__card .bottom-flip {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: flip-bottom 250ms ease-out 250ms;
    transform-origin: top;
    transform: rotateX(90deg);
}

@keyframes flip-bottom {
    100% {
        transform: rotateX(0deg);
    }
}

.timer__segment {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.timer__segment:not(:last-child)::before {
    content: ':';
    position: absolute;
    top: 8px;
    right: 0;
    display: block;
    color: white;
    font-size: 80px;
    transform: translateX(26px);
}

.timer__box {
    display: flex;
    gap: 10px;
}

.timer__title {
    font-size: 40px;
}
